/* CSS by Liz Kawabata */

/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root {

/* COLORS */
--midnight-blue: #1F2A44; /* background-color for header/footer, color for nav ul li's, h2's for sections */
--olive-green: #76885B; /* background-color for sections in #offerings */
--champagne-gold: #E5C185; /* background-color for nav, dashes between sections, color for links in footer */
--linen: #F8F4EC; /* background-color for body */
--dark-charcoal: #2B2B2B; /* color for body text */
--soft-white: #FAF9F6; /* color for all other text in mockups */

/* FONTS */
--font: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small - 450px) */

body {
	max-width: 450px;
	background-color: var(--linen);
	font-family: var(--font);
	color: var(--dark-charcoal);
	margin: 0 auto;
}


/* HEADER STYLES */

header {
	background-color: var(--midnight-blue);
	text-align: center;
	color: var(--soft-white);
	padding: 2rem 1rem;
}

header img {
	width: 150px;
	margin-bottom: 0.75rem;
}

header h1 {
	font-size: 3.5rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

header p {
	color: var(--soft-white);
	font-style: italic;
	font-size: 1rem;
	margin-top: 1rem;
}

/* NAV STYLES */

nav {
	background-color: var(--champagne-gold);
	padding: 0.8rem 0;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
}

nav a {
	color: var(--midnight-blue);
	text-decoration: none;
	font-weight: 800;
	font-size: 1.2rem;
}

/* MAIN SECTION STYLES */

main section {
	padding: 1.5rem 1rem;
}

h2 {
	color: var(--midnight-blue);
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 1rem;
}


/* #welcome SECTION STYLES */

#welcome h2 {
	font-size: 1.8rem;
	margin-top: 2rem;
	margin-bottom: 0.25rem;
}

#welcome p {
	font-size: 0.9rem;
	margin-bottom: 1rem;
	line-height: 1.5;
}

/* #offerings SECTION STYLES */

#offerings > section {
	background-color: var(--olive-green);
	color: var(--soft-white);
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.18);
}

#offerings h2 {
	font-size: 1.8rem;
}

#offerings h3 {
	color: var(--soft-white);
	font-weight: bold;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}

#offerings p {
	font-size: 0.9rem;
	line-height: 1.4;
}

#offerings ul {
	margin-left: 1rem;
	list-style-type: disc;
	line-height: 1.4;
	font-size: 0.9rem;
}

/* #gallery SECTION STYLES */


#gallery h2 {
	font-size: 1.8rem;
	margin-top: 2rem;
	margin-bottom: 0.25rem;
}

#gallery p {
	font-size: 0.9rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}

#gallery figure {
	background-color: var(--soft-white);
	margin-bottom: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	overflow: hidden;
}

#gallery img {
	width: 100%;
	display: block;
}

#gallery figcaption {
	padding: 0.75rem 0.5rem;
	background-color: var(--soft-white);
	color: var(--dark-charcoal);
	text-align: center;
	font-style: italic;
	font-size: 0.85rem;
	font-weight: 500;
}

/* "View Gallery" button */
.button {
	display: block;
	width: 95%;
	margin: 0 auto;
	background-color: var(--olive-green);
	color: var(--soft-white);
	text-align: center;
	padding: 0.75rem;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
}

/* Section Dividers */

#welcome::after,
#offerings::after,
#gallery::after {
	content: "";
	display: block;
	width: 100%;
	max-width: 450px;
	margin: 1rem auto 0 auto;
	border-bottom: 2px solid var(--champagne-gold);
}

/* FOOTER STYLES */

footer {
	background-color: var(--midnight-blue);
	color: var(--soft-white);
	padding: 2rem 1rem;
	text-align: center;
	margin-top: 2rem;
}

footer h2 {
	color: var(--soft-white);
	margin-bottom: 0.5rem;
}

footer address {
	font-style: normal;
	line-height: 1.4;
	font-size: 0.9rem;
	margin-bottom: 1.5rem;

}

footer a {
	color: var(--champagne-gold);
	font-weight: bold;
	text-decoration: none;
	font-size: 0.9rem;
}


/* MEDIA QUERY (medium - 600px) */

@media screen and (min-width: 600px) {
	body {
		max-width: 600px;
	}

	header img {
		width: 180px;
	}

	header h1 {
		font-size: 4rem;
	}

	header p {
		font-size: 1.1rem;
		margin-top: 1.25rem;
	}

	main section {
		padding: 2rem 1.25rem;
	}

	/* changing the #offerings cards to 2 per row */
	#offerings > section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		background-color: var(--olive-green);
		color: var(--soft-white);
		border-radius: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.18);
		margin-bottom: 2rem;
		padding: 1rem;
	}



	/* monthly basket card now full width */
	#offerings section:last-child {
		grid-column: 1 / -1;
	}

	/* #gallery changed to 2 images per row */
	#gallery figure {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		overflow: hidden;
	}

	#gallery figcaption {
		clear: both;
	}
	/* "View Gallery" button */
	.button {
		width: 100%;
		font-size: 1rem;
		padding: 0.85rem;
	}

	/* Gold dividers */
	#welcome::after,
	#offerings::after,
	#gallery::after {
		max-width: 600px;
		width: 100%;
	}
}

/* MEDIA QUERY (large - 900px) */

@media screen and (min-width: 900px) {

}

/* MEDIA QUERY (xl - 1200px) */

@media screen and (min-width: 1200px) {

}